table {
  color: #333;
  background: white;
  font-size: 12px;
  border-collapse: collapse;
  margin: 0px auto;
  max-width: 210mm;
  width: 100%;
}
table th,
table tfoot th {
  color: var(--theme-color1) !important;
  background: rgba(0, 0, 0, 0.1);
  font-weight: 700 !important;
  font-size: 12px !important;
}
table tr {
  width: 100%;
}
table th,
table td {
  padding: 0px 8px !important;
  border: 1px solid lightgrey !important;
  min-width: 20mm !important;
  max-width: 130mm;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 500;
  vertical-align: top;
  word-break: break-all;
  text-align: justify;
}

table tr th:first-child,
table tr td:first-child {
  background-color: #fff;
}

.form-heading {
  text-align: center;
  padding: 10px !important;
  font-size: 15px !important;
  color: #ffffff !important;
  background-color: #26a456 !important;
}

.form-sub-heading {
  text-align: center;
  padding: 10px !important;
  color: #26a456 !important;
}

.content-text {
  word-break: break-all;
  display: block !important;
  max-width: 100%;
}

@media print {
  .page-break {
    /* page-break-before: always;
    display: block; */
  }
  .hideForPrint {
    display: none !important;
  }
  .MuiBackdrop-root {
    background-color: #fff !important;
  }
  div {
    height: auto !important;
    min-height: unset !important;
    max-height: unset !important;
  }
}

/* @media screen {
  div.divFooter {
    display: none;
  }
} */
@media print {
  div.divFooter {
    position: fixed;
    top: 0;
  }
}
