table {
  color: #333;
  background: white;
  font-size: 12px;
  border-collapse: collapse;
  margin: 0px auto;
  width: 3508 x 2480 px;
  /* max-width: calc(100% - 2rem); */
}
table th,
table tfoot th {
  color: var(--theme-color1) !important;
  background: rgba(0, 0, 0, 0.1);
  font-weight: 700 !important;
  font-size: 12px !important;
}
table th,
table td {
  padding: 0 8px !important;
  border: 1px solid lightgrey !important;
  min-width: 180px !important;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif !important;
}

table tr th:first-child,
table tr td:first-child {
  background-color: #fff;
}

.form-heading {
  text-align: center;
  padding: 10px !important;
  font-size: 15px !important;
  color: #ffffff !important;
  background-color: #26a456 !important;
}

.form-sub-heading {
  text-align: center;
  padding: 10px !important;
  color: #26a456 !important;
}

.content-text {
  word-break: break-all;
  display: block !important;
  max-width: 100%;
}
@media print {
  .page-break {
    page-break-before: always;
    display: block;
  }
}

/* @media screen {
  div.divFooter {
    display: none;
  }
} */
@media print {
  div.divFooter {
    position: fixed;
    top: 0;
  }
}
